<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <!--
			Group Name: The Average Joes
			Group Members: Bruce Li (leader)
						Matthew H. Irby
						Wesley Nguyen
						Zachary Gay
			File Name: fifteen.html
			Purpose: This is the markup for the puzzle pieces page.
		-->
        <meta charset="UTF-8">
        
		<!-- Links Stylesheet.css to this file. -->
        <link rel="stylesheet" type="text/css" href="../Content/fifteen.css" />

        <!-- Title of Web Page to be placed in the tab -->
        <title>CSCI4300 Puzzle</title>
    </head>
	
	<body>
		<h1>CSCI4300 Puzzle</h1>

		<p>
			The goal of the fifteen puzzle is to un-jumble its fifteen squares
			by repeatedly making moves that slide squares into the empty space.
			How quickly can you solve it?
		</p>

		
		<div class="tileSection">	
			<div class="tile" id="one"><p>1</p>
            </div><div class="tile" id="two"><p>2</p>
            </div><div class="tile" id="three"><p>3</p>
            </div><div class="tile" id="four"><p>4</p>
            </div><div class="tile" id="five"><p>5</p>
            </div><div class="tile" id="six"><p>6</p>
            </div><div class="tile" id="seven"><p>7</p>
            </div><div class="tile" id="eight"><p>8</p>
            </div><div class="tile" id="nine"><p>9</p>
            </div><div class="tile" id="ten"><p>10</p>
            </div><div class="tile" id="eleven"><p>11</p>
            </div><div class="tile" id="twelve"><p>12</p>
            </div><div class="tile" id="thirteen"><p>13</p>
            </div><div class="tile" id="fourteen"><p>14</p>
            </div><div class="tile" id="fifteen"><p>15</p>
            </div>
		</div>

		<button>
			Shuffle
		</button>

		<script type="text/javascript" src="../Scripts/fifteen.js"></script>
		<script type="text/javascript" src="/d2l/common/math/MathML.js?v=10.6.3.3283-113 "></script>
		<script type="text/javascript">D2LMathML.DesktopInit('https://s.brightspace.com/lib/mathjax/2.6.1/MathJax.js?config=MML_HTMLorMML','https://s.brightspace.com/lib/mathjax/2.6.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML');</script>
	</body>
</html>