/*
 *	Group Name: The Average Joes
 *	Group Members: Bruce Li (Leader)
 *				   Matt Irby
 *			       Wesley Nguyen
 *			       Zachary Gay
 *  File Name: fifteen.css
 *  Purpose: This is the stylesheet for fifteen.html
*/

body{
	text-align: center;
	font-family: cursive;
	font-size: 14pt;
}