/*
 *	Group Name: The Average Joes
 *	Group Members: Bruce Li (Leader)
 *				   Matt Irby
 *			       Wesley Nguyen
 *			       Zachary Gay
 *  File Name: fifteen.css
 *  Purpose: This is the stylesheet for fifteen.html
*/

body {
    font-family: Zapf Chancery, cursive;
}

h1 {
    text-align: center;
}

p {
    text-align: center;

}

button {
    margin: auto;
    display: block;
    font-family: Zapf Chancery, cursive;
}

div {
    height: 90px;
    width: 90px;
    vertical-align: middle;
    line-height: 90px;
    border: 5px;
    border-style: solid;
    border-color: red;
    display: inline-block;
    
}

div p{
    margin: 0;
    font-size: 40px;
}

.tileSection {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 400px;
    height: 400px;
    border: none;
    display: block;
    background-image: "./Images/background.jpg";
   
    
}

